.ally_card {
	display: grid;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: #121212;
	box-shadow: 0px 6px 6px 0px #00000040;
	padding-bottom: 23px;
	position: relative;
	border: none;
	cursor: pointer;
	&__logo {
		position: absolute;
		left: 50%;
		top: 0;
		height: 74px;
		padding: 0.5rem 2rem;
		transform: translate(-50%, -50%);
		background: #f7f7f7;
		border-radius: 20px;
		box-shadow: 0px 4px 8.7px 0px #00000040 inset;
		&__img {
			height: 100%;
			max-width: initial;
		}
	}
	&__img {
		width: 100%;
		height: 245px;
		object-fit: cover;
		border-radius: 20px 20px 30px 142.5px;
	}
	&__text1 {
		font-size: 32px;
		font-weight: 900;
		line-height: 38.73px;
		text-align: center;
		margin-top: 13px;
		color: #fff;
		padding: 0 1rem;
	}
	&__text2 {
		font-size: 16px;
		font-weight: 600;
		line-height: 19.36px;
		text-align: center;
		color: #fff;
		margin-bottom: 14px;
		padding: 0 1rem;
	}
	&__line {
		width: 98%;
		margin: 0 auto;
		border-top: 1px dashed #fff;
	}
	&__cta {
		display: flex;
		align-items: center;
		justify-content: center;
		width: max-content;
		margin: 0 auto;
		margin-top: 23px;
		min-height: 37px;
		padding: 0 2rem;
		border-radius: 10px;
		background: hsl(var(--secondary));
		font-size: 20px;
		font-weight: 700;
		line-height: 24.2px;
		text-align: center;
		color: #fff;
	}
}
