@import '../../styles/responsive';

.alliances {
	--max-width: 1300px;
	&__img {
		width: 100%;
		height: 25vh;
		object-fit: cover;
		vertical-align: top;
	}
	&__controls {
		padding: 50px;
		padding-bottom: 0;
		@include mobile {
			padding: 50px 20px;
		}
		&__description {
			text-align: center;
			font-size: 36px;
			font-weight: 700;
			line-height: 51.82px;
			text-align: center;
			color: #fff;
			max-width: 1100px;
			margin: 0 auto;
			@include mobile {
				font-size: 20px;
				line-height: 34.55px;
			}
		}
		&__buttons {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 39px;
			margin: 0 auto;
			width: 100%;
			padding: 0 2rem;
			max-width: var(--max-width);
			transform: translateY(3rem);
			@include mobile {
				grid-template-columns: repeat(2, 1fr);
				gap: 20px;
				transform: none;
				padding: 0;
				padding-top: 2rem;
			}
			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background: #3a3a3a;
				border-radius: 16px;
				border: none;
				cursor: pointer;
				padding: 1rem;
				transition: 0.5s;
				font-size: 30px;
				font-weight: 700;
				line-height: 43.18px;
				text-align: center;
				color: #fff;
				@include mobile {
					font-size: 16px;
					line-height: 27.27px;
				}
				&:hover {
					background: #616161;
				}
				&.active {
					background: #fff;
					color: #3a3a3a;
				}
				&__img {
					height: 150px;
					pointer-events: none;
					user-select: none;
					@include mobile {
						height: 100px;
					}
				}
			}
		}
	}
	&__info {
		background: hsl(var(--background));
		&__content {
			width: 100%;
			max-width: var(--max-width);
			margin: 0 auto;
			padding: 110px 2rem;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			@include mobile {
				padding: 2rem;
				border-bottom-left-radius: 50px;
				border-bottom-right-radius: 50px;
			}
			&__title {
				font-size: 64px;
				font-weight: 700;
				line-height: 92.13px;
				margin-bottom: 68px;
				color: #fff;
				@include mobile {
					font-size: 36px;
					line-height: 51.82px;
				}
			}
			&__list {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				list-style: none;
				column-gap: 2rem;
				row-gap: 82px;
				@include mobile {
					grid-template-columns: 1fr;
				}
			}
		}
	}
	&__search {
		max-width: var(--max-width);
		margin: 0 auto;
		padding: 2rem;
		padding-top: 74px;
		padding-bottom: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 78px;
		row-gap: 24px;
		grid-template-areas: 'input empty' 'map list';
		@include mobile {
			grid-template-columns: 1fr;
			grid-template-areas: 'input' 'map' 'list';
		}
		&__input {
			height: 54px;
			border-radius: 10px;
			border: 1px solid #ffffff;
			width: 100%;
			overflow: hidden;
			grid-area: input;
			position: sticky;
			top: 141px;
			background: #151515;
			@include mobile {
				position: relative;
				top: initial;
			}
			&__element {
				height: 100%;
				width: 100%;
				background: none;
				border: none;
				outline: none;
				color: #fff;
				font-size: 1rem;
				padding: 0 2rem;
				padding-right: calc(2rem + 54px);
			}
			&__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 54px;
				border-radius: inherit;
				position: absolute;
				top: 0;
				right: 0;
				pointer-events: none;
				background: #fff;
				font-size: 2rem;
			}
		}
		&__map {
			height: 60vh;
			overflow: hidden;
			border-radius: 20px;
			grid-area: map;
			position: sticky;
			top: 219px;
			@include mobile {
				height: 400px;
				position: initial;
				top: initial;
			}
		}
		&__list {
			display: grid;
			gap: 46px;
			grid-area: list;
			list-style: none;
			height: max-content;
			width: 100%;
			@include mobile {
				gap: 24px;
			}
			&__button {
				display: block;
				margin: 0 auto;
				background-color: #f7f7f7;
				border-radius: 10px;
				border: none;
				padding: 0.5rem 2rem;
				font-weight: 600;
				text-align: center;
				cursor: pointer;
				text-transform: uppercase;
			}
		}
		&__no_results {
			grid-area: list;
			color: #fff;
		}
	}
	&__modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		&__overlay {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}
		&__content {
			position: absolute;
			width: 90%;
			max-width: 900px;
			display: grid;
			grid-template-columns: 1fr 2fr;
			background: #f7f7f7;
			border-radius: 40px;
			animation: modal 0.5s;
			@include mobile {
				grid-template-columns: 1fr;
			}
			&__left {
				background: #121212;
				box-shadow: 6px 6px 8.3px 2px #00000040;
				border-radius: inherit;
				color: #fff;
				&__img {
					width: 100%;
					height: 300px;
					object-fit: cover;
					border-radius: inherit;
				}
				&__info {
					padding: 2rem 2rem;
					&__text1 {
						font-size: 2rem;
						font-weight: 900;
					}
					&__text2 {
						font-size: 1.5rem;
						font-weight: 600;
					}
					&__line {
						border-top: 1px dashed #fff;
						margin: 1rem 0;
					}
					&__phone {
						display: flex;
						align-items: center;
						gap: 0.4rem;
						margin-bottom: 1rem;
					}
					&__address {
						margin-bottom: 1rem;
					}
					&__list {
						list-style: none;
						&__item {
							display: flex;
							align-items: center;
							gap: 0.4rem;
							margin-bottom: 0.5rem;
						}
					}
				}
			}
			&__right {
				padding: 2rem;
				padding-top: 4rem;
				display: grid;
				justify-items: right;
				grid-template-rows: auto 1fr;
				gap: 1rem;
				@include mobile {
					display: none;
				}
				&__logo {
					height: 4rem;
				}
				&__map {
					height: 100%;
					width: 100%;
					border-radius: 40px;
					overflow: hidden;
					box-shadow: 0px 4px 4px 0px #00000040;
				}
			}
			&__close {
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 2rem;
				background: none;
				border: none;
				cursor: pointer;
				@include mobile {
					background: #fff;
					border-radius: 50%;
					display: flex;
					padding: 0.5rem;
					font-size: 1.5rem;
				}
			}
		}
	}
}

.info_window {
	&__img {
		width: 100%;
		height: 100px;
		min-width: 200px;
		border-radius: 1rem;
		object-fit: cover;
		margin-bottom: 1rem;
	}
	&__title {
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
	}
	&__text {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

@keyframes modal {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
