@import '../../styles/responsive';

.ally_card_map {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding: 28px 19px;
	padding-left: 0;
	border-radius: 20px;
	gap: 9px;
	background: #f7f7f7;
	box-shadow: 4px 4px 4px 0px #00000040;
	width: 100%;
	cursor: pointer;
	border: none;
	text-align: left;
	color: #121212;
	&__img {
		width: 192px;
		height: 202px;
		object-fit: cover;
		border-radius: 20px;
		box-shadow: 4px 4px 4px 0px #00000040;
		transform: translateX(-14px);
		@include mobile {
			width: 95px;
			height: 95px;
		}
	}
	&__info {
		&__name {
			font-size: 24px;
			font-weight: 600;
			line-height: 29.05px;
		}
		&__address {
			font-size: 15px;
			font-weight: 400;
			line-height: 18.15px;
			margin-top: 10px;
			margin-bottom: 18px;
		}
		&__item {
			display: flex;
			align-items: center;
			gap: 0.4rem;
			min-height: 22px;
			width: max-content;
			padding: 0 1rem;
			list-style: none;
			color: #fff;
			border-radius: 10px;
			margin-bottom: 0.5rem;
			background: #121212;
			font-size: 15px;
			font-weight: 400;
			line-height: 18.15px;
			text-align: left;
			@include mobile {
				font-size: 14px;
			}
			&__li {
				display: flex;
				gap: 0.4rem;
			}
		}
	}
}
