@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 0%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 0, 0%, 100%, 1;
		--primary-foreground: 0, 0%, 100%, 1;

		--secondary: 19, 83%, 50%, 0.6;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 0, 0%, 85%, 0.6;
		--muted-foreground: 0, 0%, 0%;

		--accent: 29, 34%, 24%, 0.8;
		--accent-foreground: 0, 0%, 100%, 1;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 0, 0%, 100%, 1;
		--primary-foreground: 0, 0%, 100%, 1;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 0, 0%, 82.35%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground relative;
	}
}

@layer utilities {
	/* 90px */
	.h1 {
		@apply text-[40px] lg:text-[40px] xl:text-[80px] font-bold;
	}

	/* 75px */
	.h2 {
		@apply text-[25px] md:text-[28px] lg:text-[35px] font-bold;
	}

	/* 54px */
	.h3 {
		@apply text-[40px] lg:text-[50px] xl:text-[54px] font-bold;
	}

	/* 45px */
	.h4 {
		@apply text-[34px] leading-10 md:text-[38px] xl:text-[42px] font-bold;
	}

	/* 24px */
	.h5 {
		@apply text-4xl leading-10 md:text-[38px] xl:text-[42px] font-bold;
	}

	.h6 {
		@apply text-[16px] md:text-[13px] lg:text-[20px] font-bold;
	}
	.h7 {
		@apply text-[20px] md:text-[28px] lg:text-[35px] font-bold;
	}
	.p-medium-16 {
		@apply text-base md:text-sm lg:text-lg xl:text-xl font-medium;
	}

	.p-regular-30 {
		@apply text-3xl font-normal;
	}
	.p-regular-24 {
		@apply text-2xl font-normal;
	}

	.p-regular-20 {
		@apply text-lg md:text-[20px] lg:text-[22px] xl:text-[24px] font-normal py-1;
	}

	.parrafo-regular-18 {
		@apply text-base lg:text-[22px] font-normal py-1 md:py-3;
	}

	.p-regular-16 {
		@apply text-xs md:text-sm lg:text-lg xl:text-xl font-normal;
	}
	.p-light-24 {
		@apply text-xs md:text-[14px] lg:text-[16px] xl:text-[18px] font-light py-1 md:py-3 md:leading-snug tracking-wide;
	}
	.parrafo-light-20 {
		@apply text-base md:text-[18px] lg:text-[18px] xl:text-[20px] font-light py-1 md:py-3 md:leading-snug tracking-wide;
	}
	.p-light-16 {
		@apply text-xs md:text-xs lg:text-sm xl:text-xl font-light;
	}
	.p-light-14 {
		@apply text-[10px] md:text-[11px] lg:text-[13px] xl:text-base font-light;
	}
	.p-light-12 {
		@apply text-[8px] md:text-[9px] lg:text-[11px] xl:text-sm font-light;
	}
	.p-light-10 {
		@apply text-[10px] md:text-[10px] lg:text-[10px] xl:text-xs font-light;
	}
}

@layer components {
	.espacios {
		@apply w-[75%] md:w-[50%] h-full flex flex-col gap-3 justify-center text-left md:gap-5 md:pl-28 md:pr-16 lg:pl-32 lg:pr-18 xl:pl-40 xl:pr-36;
	}
}
/* Para navegadores Webkit como Chrome y Safari */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Para Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
